{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.dev.js"
            }
        }
    },
    "rules": {
        "indent": ["error", 2],
        "linebreak-style": ["warn", "unix"],
        "quotes": ["warn", "single"],
        "semi": ["warn", "never"],
        "react/prefer-stateless-function": "warn",
        "react/jsx-one-expression-per-line": ["off"],
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],
        
        "jsx-a11y/label-has-for": ["error", {
            "components": [],
            "required": {
              "every": ["id"]
            },
            "allowChildren": false
        }],
        "jsx-a11y/label-has-associated-control": ["off"],
        "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }]
    }
}
